/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/academic_transcript/*
/public/admission/*
/public/admissionxl/*
/public/admit_card/*
/public/admitcard/*
/public/arm_certification/*
/public/birth_certificate/*
/public/birth_image/*
/public/classcategoryhead/*
/public/club/*
/public/dashboard/*
/public/father_nid/*
/public/father_nid/*
/public/feeStatusUpdate/*
/public/marksheet/*
/public/markfile/*
/public/mother_nid/*
/public/nid/*
/public/pdf/*
/public/photo/*
/public/image/*
/public/logo/*
/public/profile/*
/public/rutine/*
/public/staff_certification/*
/public/storage_1/*
/public/studentfile/*
/public/student/*
/public/testimonial/*
/public/tinymce/*
/public/users/*
/public/vendor/*
/public/xl/*
a.sql
admission4.zip
app.zip
