* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
public/
public1/
storage/
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
